{{ block "about" . }}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About - fizlip</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="banner">
            <div style="">
                <h1 style="padding: 0px; margin: 0px; font-size: 21px;"><a href="/" style="text-decoration: none; color: inherit;">fizlip</a></h1>
                <p style="padding: 0px; margin-top: 5px; font-size: 18px;"><i>witty tagline</i></p>
            </div>
        </div>
        <div class="timeline-section">
            <h2>about me</h2>
            <ul class="timeline">
                <li>
                    <div class="timeline-date">
                        Oct. 2025 → May 2026 
                        <br />
                        <img style="height: 30px;border-radius: 50%;" src="https://i.pinimg.com/736x/8e/c4/98/8ec498fb103a014e1e7a476c847b1139.jpg" alt="trader" />
                    </div>
                    <div>
                        <h3>Founder • relokera.se</h3>
                        <p>Created a scheduling system for small to medium sized companies to manage their employees and shifts.</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-date">
                        Sep. 2024 → Sep. 2025 
                        <br />
                        <img style="height: 30px;border-radius: 50%;" src="https://f4-public.s3.eu-central-1.amazonaws.com/public/assets/f4-logo-yellow-small.png" alt="f4rmhouse logo" />
                    </div>
                    <div class="timeline-content">
                        <h3>f4rmhouse • Founder</h3>
                        <p>Created a browser native MCP client that allows users to add MCP servers to LLMs creating a more customized AI experience.</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-date">
                        Oct. 2023 → Jun. 2025
                        <br />
                        <img style="height: 30px;border-radius: 50%;" src="https://space.bouncewatch.com/images/561456/MQI---Munich-Quantum-Instruments-logo.jpg" alt="Chalmers University of Technology" />
                    </div>
                    <div class="timeline-content">
                        <h3>Munich Quantum Instruments (MQI)• Software Engineer</h3>
                        <p>Led a small team that created software letting researchers interact with a Superconducting Single Photon Detector (SSPD).</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-date">
                        2021 → 2023
                        <img style="height: 30px;border-radius: 50%;" src="https://www.chalmers.se/_next/image/?url=https%3A%2F%2Fcms.www.chalmers.se%2FMedia%2Fnhwjqdyg%2Fchalmers-avancez_456x456px.png%3Frxy%3D0.4857254205857173%252C0.4750532196066489%26width%3D600%26height%3D600%26v%3D1db1a3dec796eb0%26quality%3D60%26format%3Dwebp&w=3840&q=90" alt="Chalmers University of Technology" />
                        <img style="height: 30px;border-radius: 50%;" src="https://media.licdn.com/dms/image/v2/D4D0BAQGYm_x_LuZ84g/company-logo_200_200/B4DZhWqognGsAI-/0/1753800673663/technische_universitat_munchen_logo?e=2147483647&v=beta&t=ceFUBJnHQ-n5fIyb8oWt0K0pCvc2ujCdH0NUr8f-O6I" alt="Chalmers University of Technology" />
                    </div>
                    <div class="timeline-content">
                        <h3>Masters Student • Chalmers University of Technology and the Technical University of Munich</h3>
                        <p>MSc at Chalmers University of Technology and Technical University of Munich, where I worked with Michiel van de Panne on veryfing the results of for quantum programs , i.e., unit testing for quantum programs. </p>
                    </div>
                </li>
                <li>
                    <div class="timeline-date">2020 → 2021
                        <img style="height: 30px;border-radius: 50%;" src="https://scontent-arn2-1.xx.fbcdn.net/v/t39.30808-1/300797678_481988687268445_5596858591782447077_n.png?stp=dst-png_s480x480&_nc_cat=107&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=W9oEbYwQq74Q7kNvwH_816_&_nc_oc=AdmpyqVea9sO0TdPMx13iM-VmLf9OulpK63wLXW9Ne5QbW84V_6bgdZzs46Uz7pM-Zc&_nc_zt=24&_nc_ht=scontent-arn2-1.xx&_nc_gid=08uTSB24i2uueYCssvLNdA&oh=00_Afc-pQ0tFpsXociEUYQxZG8Dt7KZuoJSGD_3_tfhiKON3A&oe=68EBF850" alt="ISGG" />
                    </div>
                    <div class="timeline-content">
                        <h3>ISGG • Founding Engineer</h3>
                        <p>Created a CRM that let's the sales team automate different tasks like registering sales and calculating salaries. The CRM lead to productivity gains resulting in 22% increase in revenue.</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-date">
                        2017 → 2020
                        <img style="height: 30px;border-radius: 50%;" src="https://www.chalmers.se/_next/image/?url=https%3A%2F%2Fcms.www.chalmers.se%2FMedia%2Fnhwjqdyg%2Fchalmers-avancez_456x456px.png%3Frxy%3D0.4857254205857173%252C0.4750532196066489%26width%3D600%26height%3D600%26v%3D1db1a3dec796eb0%26quality%3D60%26format%3Dwebp&w=3840&q=90" alt="Chalmers University of Technology" />
                    </div>
                    <div class="timeline-content">
                        <h3>Chalmers University of Technology • Bachelor Student</h3>
                        <p>BSc at Chalmers University of Technology with a 4.0 average grade (3.5 GPA). This is where I first got into quant trading. </p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
{{ end }}