{{ block "blog" . }}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog - Filip Zlatoidsky</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="banner">
            <div style="">
                <h1 style="padding: 0px; margin: 0px; font-size: 21px;"><a href="/" style="text-decoration: none; color: inherit;">Blog</a></h1>
                <p style="padding: 0px; margin-top: 5px; font-size: 18px;"><i>thinking...</i></p>
            </div>
        </div>
        <div class="timeline-section">
            <a href="/articles/2026/05/buttons">scheduling is hard, actually</a>
        </div>
    </body>
</html>
{{ end }}