{{ block "index" . }}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Filip Zlatoidsky</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="main">
        <div class="banner">
            <div style="">
                <h1 style="padding: 0px; margin: 0px; font-size: 21px;">fizlip</h1>
                <p style="padding: 0px; margin-top: 5px; font-size: 18px;"><i>building things</i></p>
            </div>
        </div>
        <div class="list">
          <a class="link" href="/blog">blog</a>
          <a class="link" href="/about">about me</a>
          <a class="link" href="/projects">projects</a>
        </div>
        <div class="footer">
          <a href="https://github.com/fizlip">gh</p>
        </div>
    </body>
</html>
{{ end }}
